<style>
  
</style>
<div class="logo">
  <img src="" alt="" class="logo__img">
</div>
<div class="header">
  <div class="header__left">Выберите друзей</div>
  <div class="header__right">
    <div class="close"></div>
  </div>
</div>
<div class="filter">
  <div class="filter__left">
    <input type="text" class="filter__left-input">
  </div>
  <div class="filter__right">
    <input type="text" class="filter__left-input">
  </div>
</div>
<div class="main">
  <div class="main__left">
    <h3 class="title">Ваши друзья</h3>
    <div class="friend">
      <img src="" alt="" class="friend__img">
      <span class="friend__name"></span>
      <div class="friend__plus"></div>
    </div>
  </div>
  <div class="main__right">
    <h3 class="title">Друзья в списке</h3>
    <div class="friend">
      <img src="" alt="" class="friend__img">
      <span class="friend__name"></span>
      <div class="close"></div>
    </div>
  </div>
</div>
<div class="footer">
  <button class="footer__save-button">Сохранить</button>
</div>