<div class="baloon__header">
  <div class="baloon__address">
    <img src="../images/marker.png" alt="" class="baloon__address-marker">
    <span class="baloon__address-text">{{address}}</span>
  </div>
  <div class="close"></div>
</div>
<div class="feedback">
  <div class="feedback__scroll">
    <ul class="feedback__list">
    </ul>
  </div>
</div>
<div class="baloon__form">
  <form action="POST" class="form">
    <h1 class="form__title">ВАШ ОТЗЫВ</h1>
    <input name="name" type="text" class="form__name" placeholder="Ваше имя">
    <input name="place" type="text" class="form__place" placeholder="Укажите место">
    <textarea name="feedback" id="" cols="30" rows="5" class="form__textarea" placeholder="Поделитесь впечатлениями"></textarea>
    <button class="form__btn" id="save">Добавить</button>
  </form>
</div>