{{#each comments}}
<li class="feedback__item">
  <div class="feedback__info">
    <span class="feedback__name"> {{name}} </span>
    <span class="feedback__place"> {{place}} </span>
    <span class="feedback__date"> {{date}} </span>
  </div>
  <div class="feedback__text">
    {{feedback}}
  </div>
</li>
{{/each}}