{{#each items}}
<div class="friend" data-id="{{id}}" draggable="true">
  <div class="friend__img-wrap">
    <img src="{{photo_50}}" alt="Avatar" class="friend__img">
  </div>
  <span class="friend__name">{{first_name}} {{last_name}}</span>
  <div class="friend__plus"></div>
</div>
{{/each}}